#{extends 'main.html' /}
#{set title:'Home' /}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<div class="col-md-7">
<center>
<TABLE style="background:#FFFFFF" class="table table-hover table-bordered" > 
<TH > <center><h1>INFORMACIÓN DE LA CARRERA</h1></center></TH>
<TR align="center"> 
<TD><center><h1>MISIÓN</h1></center><br>
La Carrera de Ingeniería en Informática y Sistemas Computacionales,
forma profesionales con sólidos conocimientos en las ciencias de la
computación,la ingeniería de software y redes de información, por medio
de la síntesis de los saberes humanísticos tecnológicos y científicos, 
que contribuyan a aplicar la tecnología de la información y comunicación,
como parte del desarrollo social y económico de la provincia y del país.</TD>
</tr>
<TR align="center"> 
<TD><center><h1>VISIÓN</h1></center><br>
 En el año 2015 la Carrera de Ingeniería en Informática y Sistemas 
lidera los procesos de formación profesional en el desarrollo de tecnologías
 de última generación, que le permite alcanzar un sólido reconocimiento social.</TD>
</TR>
</TABLE>
</div>
</center>
